.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-search-5 {
  width: 100% !important;
  margin-left: 10% !important;
  margin-right: auto !important;
}

.logoIcon {
  width: 110px;
  padding-right: 20px;
  padding-top: 10px;
}

@media (min-width: 600px) 
{.logoIcon {
  margin-right: 50px;
}
}

.MuiIconButton-colorInherit-53 {
  color: #342C2C !important;
}

.MuiSvgIcon-root-61 {
  fill: #342C2C !important;
}
.MuiButtonBase-root-86:hover {
  background-color: #282c34
}
.MuiToolbar-gutters-54 {
  padding: 0 !important;
}